body {
    background: linear-gradient(to top, rgb(0, 0, 0),rgb(22, 22, 22));
}
/* colours you fucking idiot */
.burlywood {
    color: burlywood;
}
.white {
    color: white;
}
.grey {
    color:gray;
}
.black {
    color:black;
}
.red {
    color:red;
}
.blue {
    color:blue
}
/* alignement for text or something i don't even know anymore */
.centre {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
/* align to centre like the fucking slut you are */
.imagecentre {
    text-align: center;
}
.introtext {
    text-align: center;
    color: burlywood;
    font-size: 125%;
}
/* links so they don't look like shit */
a {
    color: #cc5500;
    text-decoration: none;
  }

  a:visited {
    color: #cc5500;
  }
  a:hover {
    color: #ff9900;
    text-decoration: underline;
  }
/* go to top button shitfuck thing */
#go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0077b6; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#go-to-top a {
    text-decoration: none;
    color: #fff;
}
