body {
    background: linear-gradient(to top, black, rgb(34, 34, 34));
}
/* colours you fucking idiot */
.burlywood {
    color: burlywood;
}
.white {
    color: white;
}
.grey {
    color:gray;
}
.black {
    color:black;
}
.red {
    color:red;
}
.blue {
    color:blue
}
/* alignement for text or something i don't even know anymore */
.centre {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}