body {
  color: white;
  background-color: black;
}
.center {
  text-align: center;
}
.thiccline {
  background-color: white;
  height: 5px
}
.tinytext {
  font-size: 9px
}
.whitecolor {
  color: white;
}
