body {
  color: white;
  background-color: darkgray;
}
.center {
  text-align: center;
}
.thiccline {
  background-color: white;
  height: 5px
}
.tinytext {
  font-size: 9px
}
.whitecolor {
  color: white;
}

.recipe_button {
    border-radius: 0px 20px 20px 0px;
    border-color: white;
    border-left: 10px solid darkblue;
    background-color: black;
    width: 275px;
    height: 300px;
    color: white;
}

.recipe_button_text{
    padding-left: 13px;
    padding-bottom: 20px;
}

.button_recipe{
    margin-left: 175px;
    background-color: lightgrey;
